<h3 class="headingBottomSpace">Stock News related to {{ ticker | uppercase }}</h3>
<div *ngIf="isLoading; else newsReference" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
<ng-template #newsReference>
    <div *ngFor="let article of newsArticlesArray; let i=index">
        <ul class="list-group">
            <li class="list-group-item bottomSpace">
                <span class="newsHeading justify-content-start">{{ article.title }}</span> <br>
                <span>{{ article.description }}</span> <br><br>
                <span><img src='{{ article.urlToImage }}' class="rounded pictureSizeWidth pictureSizeHeight" alt="newsImage"></span><br><br>
                <span>{{ article.content  }}</span> <br><br>
                <span>{{ article.author }} from {{ article.source.name }} <a role="button" (click)='moreInfo(article.url)' class="float-right linkDecoration">View More...</a></span> <br>
                <span>{{ article.publishedAt | date }}</span> <br>
            </li>
        </ul>
    </div>
</ng-template>