<form (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <div class="pageCenterAlign" >
        <div class="row form-inline">
            <div class="input-group col-md-12">
                <input type="text" class="form-control border-curve removeRightBorderSettingsFromBootstrap" name="ticker" required maxlength="6" ngModel placeholder="Ticker Here">
                <div class="form-group leftSpacing">
                    <select class="form-control" ngModel name="timeSeries">
                      <option value='TIME_SERIES_INTRADAY_1' >1 Day</option>
                      <option value='TIME_SERIES_INTRADAY_5'>5 Day</option>
                      <option value='TIME_SERIES_DAILY_1'>1 Month</option>
                      <option value='TIME_SERIES_DAILY_3'>3 Months</option>
                      <option value='TIME_SERIES_DAILY_5'>5 Months</option>
                      <option value='TIME_SERIES_DAILY_12'>1 year</option>
                      <option value='TIME_SERIES_DAILY_60'>5 years</option>
                    </select>
                  </div>
                <div class="">
                    <button class="btn btn-outline-primary form-control border-curve leftSpacing" [disabled]="!searchForm.valid" type="submit"> Search </button>
                </div>
            </div>
        </div>
    </div>
</form>

