.pageCenterAlign{
    padding-top: 40px;
    padding-bottom: 40px;
}

.border-curve{
    border-radius: 8px;
}

.removeRightBorderSettingsFromBootstrap{
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.leftSpacing{
    margin-left: 10px;
}