.pageCenterAlign{
    padding-top: 40px;
    padding-bottom: 40px;
}

.border-curve{
    border-radius: 8px;
}

.removeRightBorderSettingsFromBootstrap{
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.leftSpacing{
    margin-left: 10px;
}

.dropDownAdjust{
    margin-left: 20px;
    margin-right: 20px;
}

.buttonShadow {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

input.ng-invalid.ng-touched{
    border-color: red;
}