.stock-graph-size{
    max-height: 500px;
    min-width: 300px;
}

.buttonGroupSpacing{
    margin-top: 5px;
}

.tickerHeading{
    font-weight: bold !important;
    margin-bottom: 20px;
}

.greenColor{
    color: #093;
}

.redColor{
    color:#FF0000;
}

.stockChartDisplay{
    min-height: 180px;
    max-height: 180px;
}