<span>
    <p>The Ticker to be searched is " {{ currentTicker | uppercase }} "</p>
    <hr>
    <hr>
    <div class="row stock-graph-size">
        <div class="col-md-12" style="display: block">
            <div *ngIf="isLoading; else chartReference" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <ng-template #chartReference>
                <canvas id="canvas" >{{ chart }}</canvas>
            </ng-template>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <app-stockNews></app-stockNews>
        </div>
    </div>    
</span>