<div class="tickerHeading">
    <span>{{ currentTicker | uppercase }} - {{ fullCompanyName }}</span> <br>
    <span *ngIf="green; else redRef">    
        <span class="greenColor">{{ finalTickerPrice | twoDecimals | currency:USD }} </span> 
        <span class="greenColor">( {{ priceChange | twoDecimals }} %) </span>
    </span>
    <ng-template #redRef>
        <span class="redColor">{{ finalTickerPrice | twoDecimals | currency:USD }} </span>
        <span class="redColor">( {{ priceChange | twoDecimals }} %) </span>
    </ng-template>
</div>
<span>
    <div class="row stock-graph-size">
        <div class="col-md-12" style="display: block">
            <div *ngIf="isLoading; else chartReference" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <ng-template #chartReference>
                <canvas id="canvas" >{{ chart }}</canvas>
                <div class="btn-group float-right buttonGroupSpacing" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">1D</button>
                    <button type="button" class="btn btn-secondary">5D</button>
                    <button type="button" class="btn btn-secondary">1M</button>
                    <button type="button" class="btn btn-secondary">3M</button>
                    <button type="button" class="btn btn-secondary">6M</button>
                    <button type="button" class="btn btn-secondary">1Y</button>
                    <button type="button" class="btn btn-secondary">5Y</button>
                  </div>
            </ng-template>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <app-stockNews></app-stockNews>
        </div>
    </div>    
</span>